button{
    border-radius: 50px !important;
}

.articulo{
    padding-top: 60px;
    padding-bottom: 20px;
}

.card{
    border-radius: 20px;
}

.card-pages{
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(58,78,95,0.2) 0 10px 16px, rgba(58,78,95,0.05) 0 -5px 16px;
    padding: 10px;
    overflow: hidden;
}

.card-person{
    min-width: 200px;
    max-width: 700px;
}

.card-contacto{
    padding: 20px;
}

.card-datos-contacto{
    position: relative;
    padding: 10px 10px 10px 90px;
}

.card-datos-contacto i{
    line-height: 50px;
    position: absolute;
    left: 22px;
    top: 35px;
}

.card .card-content p {
    margin: 15px 0px;
}
.card-content i {
   font-size: 1.5rem;
}

nav{
    -webkit-transition: ease all 0.3s;
}

.nav-fijo{
    background: #fff;
}

.nav-fijo .logo{
    color: black;
}

.nav-fijo a{
    color: black;
}

#nav a:hover {
    background: none;
    color: #4fc3f7;
}

.sidenav .current a, #nav .current a {
    background: #4fc3f7;
    color:white;
}

#nav ul > .current > a {
    border-radius: 50px;
    position: relative;
    top: 10px;
    height: 40px;
}

.barra{
    min-height: 660px;
    max-height: 600px;
}

.barra{
    background: url('../img/banner.jpg') center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.barra:before {
    content: "";
    background: rgba(4, 8, 29, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
}

.text-barra{
    position: relative;
    min-height: 560px;
}

.imagen-pages{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.barra-skill{
    background-color: #ddd;
    width: 100%;
}

#contacto{
    background: rgb(247, 247, 247);
}
